USE [master]
GO
/****** Object:  Database [WCF_Demo]    Script Date: 2/15/2018 8:32:49 PM ******/
CREATE DATABASE [WCF_Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WCF_Demo', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\WCF_Demo.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WCF_Demo_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\WCF_Demo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WCF_Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WCF_Demo]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/15/2018 8:32:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Country] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [Name], [Country]) VALUES (1, N'Bhaviya', N'United States')
INSERT [dbo].[Customers] ([CustomerId], [Name], [Country]) VALUES (2, N'Akshay', N'India')
SET IDENTITY_INSERT [dbo].[Customers] OFF
USE [master]
GO
